* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-boxs;
}

body {
  background: rebeccapurple;
}

.app {
  background: white;
  width: 90%;
  max-width: 70%;
  margin: 150px auto 0;
  border-radius: 25px;
  padding: 30px;
}

.app h1 {
  font-size: 25px;
  color: rgb(69, 42, 95);
  font-weight: 600;
  border-bottom: 3px solid #242020;
  padding-bottom: 15px;
}

.quiz {
  padding: 15px 0;
}

.quiz h2 {
  font-size: 18px;
  color: rgb(69, 42, 95);
}

.btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  padding: 5px 10px 5px 10px;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition: all 0.7s;
}

.btn:hover:not([disabled]) {
  background: rebeccapurple;
  color: #fff;
}

.btn:disabled {
  cursor: no-drop;
}

#next-btn {
  background: rebeccapurple;
  color: #fff;
  width: 150px;
  font-weight: 500;
  border: 2px;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.correct {
  background: green;
}

.incorrect {
  background: red;
}
